*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/projectFilesBackup/.idea/
/app/src/main/res/values/priv.xml
/app/google-services.json
/releases/
/.idea/misc.xml
